 .main{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 10px;
} 


.btn{
  background-color: #004445;
  color: white;
  
}

.btn:hover{
  background-color: white;
  color: #004445;
} 

.search{
  padding: 5px;
  border-radius: 4px;
}



h1{
  font-size: 38px;
}


li{
  list-style-type: none;
  font-size: 18px;
}

ul{
  padding: 0;
 
}

.temp{
  font-size: 44px;
  font-weight: 600;

}

p{
  text-align: center;
}

a{
  text-decoration: none;
  color: #004445;
}

.celsius{
  margin-left: 2px;
  margin-right: 2px;
}



.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

.description::first-letter{
  text-transform: uppercase;
}

.day-1, 
.day-2,
.day-3,
.day-4,
.day-5{
  margin: 15px;
 
}