 body{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 10px;
} 

.search{
  padding: 5px;
  border-radius: 4px;
}



h1{
  font-size: 34px;
}


li{
  list-style-type: none;
}

ul{
  padding: 0;
 
}

.temp{
  font-size: 40px;
}

.celsius, .fahrenheit{
  text-decoration: none;
}

.celsius{
  margin-left: 2px;
  margin-right: 2px;
}



.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

.description::first-letter{
  text-transform: uppercase;
}

.day-1, 
.day-2,
.day-3,
.day-4,
.day-5{
  margin: 15px;
 
}